<a href="https://colab.research.google.com/github/SasiPranav07/Infosys/blob/main/Copy_of_Assignment1_Celebal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lower Triangular Pattern

In [ ]:
r = int(input("Enter the number of rows: "))
for i in range(1, r + 1):
    print("* " * i)

Enter the number of rows: 7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

#Upper Triangular pattern

In [ ]:
r = int(input("Enter the number of rows: "))
for i in range(r):
    print("  " * i + "* " * (r - i))

Enter the number of rows: 4
* * * *
  * * *
    * *
      *

#Pyramid shape pattern

In [ ]:
r = int(input("Enter the number of rows: "))
for i in range(r):
    for j in range(r-i-1):
        print(" ",end="")
    temp=2*i+1
    for j in range(temp):
        print("*",end="")
    print()

Enter the number of rows: 8
       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************